#goback {
  border: 1.5px solid grey;
  border-radius: 4px;
  background-color: white;
  color: black;
  width: 7vw;
  height: 5vh;
  margin-top: 2vh;
  margin-left: 5vh;
  cursor: pointer;
  position: absolute;
  top: 2vh;
}

#content-title {
  color: #1d1d1b;
  margin-bottom: 2vh;
  position: absolute;
  top: 5vh;
}

#content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#button-container {
  /* border: 1px solid black;
  background-color: white; */
  border: none;
  width: 100vw;
  height: 15vh;
  border-radius: 4px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  /* margin-top: 5vh;
  margin-bottom: 5vh; */
  position: absolute;
  top: 80%;
}

.content-button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  /* padding: 0.5vw; */
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 12px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3dcd58;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#api-frame {
  width: 100%;
  height: 100vh;
}
