<div>
  <button id="goback" routerLink="/HomeComponent">< Go Back</button>
  <div id="content-container">
    <h1 id="content-title">Prismaset</h1>
    <iframe
      #iFrame
      src=""
      id="api-frame"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      width="640"
      height="480"
      frameborder="0"
      style="border: 1px solid black"
    ></iframe>
    <!-- <div id="button-container">
      <button class="content-button" #btn1 (click)="setAnimation(0)">
        <img src="../../assets/imageicon1.png" />
        <br />
        <p class="hover-underline-animation">IP ratings</p>
      </button>
      <button class="content-button" #btn2 (click)="setAnimation(1)">
        <img src="../../assets/imageicon2.png" />
        <br />
        <p class="hover-underline-animation">Frame design</p>
      </button>
      <button class="content-button" #btn3 (click)="setAnimation(2)">
        <img src="../../assets/imageicon3.png" />
        <br />
        <p class="hover-underline-animation">
          Frame design <br />
          & modularity
        </p>
      </button>
    </div> -->
    <div id="button-container">
      <button class="content-button" (click)="setAnimation(0)">
        <p class="hover-underline-animation">PrismaSeT International</p>
      </button>
      <button class="content-button" (click)="setAnimation(1)">
        <p class="hover-underline-animation">Colour/Handle/Logo</p>
      </button>
      <button class="content-button" (click)="setAnimation(2)">
        <p class="hover-underline-animation">Frame Design</p>
      </button>
      <button class="content-button" (click)="setAnimation(3)">
        <p class="hover-underline-animation">Frame Design & Modularity</p>
      </button>
      <button class="content-button" (click)="setAnimation(4)">
        <p class="hover-underline-animation">Glass Door - Locking Mechanism</p>
      </button>
      <button class="content-button" (click)="setAnimation(5)">
        <p class="hover-underline-animation">Busbar System</p>
      </button>
      <button class="content-button" (click)="setAnimation(6)">
        <p class="hover-underline-animation">Form Of Separations</p>
      </button>
      <button class="content-button" (click)="setAnimation(7)">
        <p class="hover-underline-animation">IP Ratings</p>
      </button>
      <button class="content-button" (click)="setAnimation(12)">
        <p class="hover-underline-animation">HeatTag</p>
      </button>
      <br />
      <button class="content-button" (click)="setAnimation(8)">
        <p class="hover-underline-animation">
          Functional Unit Definition - ACB/MCCB
        </p>
      </button>
      <button class="content-button" (click)="setAnimation(9)">
        <p class="hover-underline-animation">Internal Doors</p>
      </button>
      <button class="content-button" (click)="setAnimation(10)">
        <p class="hover-underline-animation">
          Side Covers/Rear Covers, Ease Of Assembly
        </p>
      </button>
      <button class="content-button" (click)="setAnimation(11)">
        <p class="hover-underline-animation">Gland Plate</p>
      </button>

      <button class="content-button" (click)="setAnimation(13)">
        <p class="hover-underline-animation">Sustainability</p>
      </button>
      <button class="content-button" (click)="setAnimation(14)">
        <p class="hover-underline-animation">DSTP/Digital Twin</p>
      </button>
      <button class="content-button" (click)="setAnimation(15)">
        <p class="hover-underline-animation">EasyPrisma Tool</p>
      </button>
      <button class="content-button" (click)="setAnimation(16)">
        <p class="hover-underline-animation">Switchgear ACB/MCCB</p>
      </button>
    </div>
  </div>
</div>
